.display_container{
    background-color: #081830;
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 1rem;
}

.portfolio_content_column {
    display: flex;
    flex-direction: column;
    background-color: #081830;
    gap: 1rem;
    width: 30%;
}



.portfolio_content_list  {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #173054;
    height: 125px;
    -webkit-user-drag: none;
}


.portfolio_content_list:nth-child(1) {
    border-radius: 5px 0px 0px 0px;
    cursor: pointer;

}

.portfolio_content_list:nth-child(2) {
    border-radius: 0px 0px 0px 0px;
    cursor: pointer;

}

.portfolio_content_list:nth-child(3) {
    border-radius: 0px 0px 0px 5px;
    cursor: pointer;

}

.portfolio_content_list:nth-child(1):hover , .portfolio_content {
    background-color: #102542;
    
}

.portfolio_content_list:nth-child(2):hover {
    background-color: #102542;

}

.portfolio_content_list:nth-child(3):hover {
    background-color: #102542;
}

.portfoliocard_heading h2 {
    color: #ffffff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}



  
.portfolio_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #173054;
    width: 70%;
    border-radius: 0px 5px 5px 0px;
    padding: 1rem;
}
.portfolio_content h1, .portfolio_content p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    max-width: 500px;
}

.portfolio_content h1 {
    cursor: pointer;
    
}
.display_container h1:hover {
    color: #041021 ;
    
}

.portfolio_content img {
    width: 200px;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    -webkit-user-drag: none;

}

.portfolio_content_attribute {
    border: none;
}