.card_container {
    background-color: #ffffff;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}

.card_container img {
    width: 50%;
    
}

.card_grid {
    gap: 1rem;
    display: flex;
    flex-direction: row;
}

.multiple_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* .single_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.multi_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.blogs_paragraph {
    display: flex;
    padding-top: 2rem;
    max-width:750px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.single_card {
    cursor: pointer;
    transition: 0.2s;
}

.single_card:hover {
    transform: scale(1.05);
}

.multi_card {
    cursor: pointer;
    transition: 0.2s;
}

.multi_card:hover {
    transform: scale(1.05);
}

.card_ref {
    border: none;
}