.contact_container {
    display: flex;
    flex-direction: column;
    background-color: #041021;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.contact_titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_title {
    position: relative;
    bottom: 9.7rem;
    color: #ffffff;
    margin: 0;
    font-size: 54px;
    font-family: 'Fatcat', Regular;
    letter-spacing: 4px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.contact_title_shadow {
    
    /* margin-top: 80px; */
    /* position: fixed; */
    color: #173054;
    opacity: 35%;
    font-size: 90px;
    font-family: 'Fatcat', Regular;
    letter-spacing: 4px;
    cursor:default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.contact-textfield_message {
    color: white;
    padding: 1rem;
    resize: none;
    border-color: #173054;
    border-width: 2px;
    border-radius: 25px;
    background-color: transparent;
    width: 300px;
    height: 200px;
    margin-top: 1rem;
}

.contact-textfield_email {
    color: white;
    padding: 1rem;
    resize: none;
    border-color: #173054;
    border-width: 2px;
    border-radius: 25px;
    background-color: transparent;
    width: 300px;
    height: 20px;
}


.contact_button {
    background-image: linear-gradient(to right, #B400BF 0%, #79CBCA  51%, #15C7FF  100%);
    margin-top: 0.5rem;
    border: none;
    height: 45px;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 25px;
    display: block;
    cursor: pointer;
  }
 
 .contact_button:hover {
 border: none;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
 }

.contact-logo-container {
    padding: 5rem;
     display: flex;
     flex-direction: row;
     gap: 0.5rem;
 }

.contact-logo-container img {
    width: 50px;
    cursor: pointer;
}

.contact-logo-container img:hover {
     transform: scale(1.2);
     transition: 0.2s;
}
.contact_container p {
    color: white;
}
.container_attribute {
    border: none;
}

.contact_titles p {
    letter-spacing: 1px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}