.App { 
  text-align: center;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

html { 
  scroll-behavior: smooth; 
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #904747 #ab3636;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    display: none;
  }
 